services:
  db:
    image: postgres:16
    container_name: db
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
  mail-catcher:
    image: schickling/mailcatcher
    container_name: mailer
    ports:
      - "1080:1080"
      - "1025:1025"

volumes:
  postgres-data:


